  <main id="main">

    <section class="breadcrumbs">
      <section id="team" class="team section">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>SECTION ENERGIE</h2>
            <p>petite description générale</p>
          </div>

          <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="/assets/img/Generalités/energie4.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Installation éléctrique et distribution HT/BT</h4>
                  <span>Informations sur le service..</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="/assets/img/Generalités/energie3.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Poste de transformation et cellule MT</h4>
                  <span>Informations sur le service..</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                  <img src="/assets/img/Generalités/energie3.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Création et installation d'armoires éléctriques</h4>
                  <span>Informations sur le service..</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img src="/assets/img/Generalités/energie4.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Sécurisation du réseau</h4>
                  <span>Informations sur le service..</span>
                </div>
              </div>
            </div>


          </div>

          <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img src="/assets/img/Generalités/energie4.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Éclairage architectural et technique</h4>
                  <span>Informations sur le service..</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img src="/assets/img/Generalités/energie4.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Electricité tertiaire et domestique (Courant fort et faible)</h4>
                  <span>Informations sur le service..</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img src="/assets/img/Generalités/energie4.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Energie renouvelable</h4>
                  <span>Informations sur le service..</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img src="/assets/img/Generalités/energie4.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Gestion de l'énergie</h4>
                  <span>Informations sur le service..</span>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img src="/assets/img/Generalités/energie4.jpg" class="img-fluid" alt="">
                </div>
                <div class="member-info">
                  <h4>Conseils et Formation des acteurs</h4>
                  <span>Informations sur le service..</span>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Team Section -->

    </section>
  </main>
