<main id="main">

  <section class="breadcrumbs">
    <section id="team" class="team section">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Quelques réalisations</h2>
          <p>petite description générale</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/assets/img/Generalités/energie4.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Details sur la réalisation</h4>
                <span>encore plus</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/assets/img/Generalités/energie3.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Details sur la réalisation</h4>
                <span>encore plus</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="/assets/img/Generalités/energie3.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Details sur la réalisation</h4>
                <span>encore plus</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="/assets/img/Generalités/energie4.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Details sur la réalisation</h4>
                <span>encore plus</span>
              </div>
            </div>
          </div>


        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="/assets/img/Generalités/energie4.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Details sur la réalisation</h4>
                <span>encore plus</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="/assets/img/Generalités/energie4.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Details sur la réalisation</h4>
                <span>encore plus</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
</section>

</main>
