 <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row">
            <div class="col-xl-5">
              <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif" style="color: rgb(224, 221, 33);">ELECT-BTP Sarl</h1>
              <h2>La compagnie ELECT-BTP est une firme de Genie Conseils basée au Burkina Faso et spécialisée dans la realisation des projets industriels et commerciaux</h2>
              <a style="text-decoration: none;" href="/generalites" class="btn-get-started scrollto">Plus d'informations sur nous?</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <br>

    <p style="text-align: center;"> <strong style="color: rgb(190, 190, 27);">ELECT-BTP</strong> un jour, <strong style="color: rgb(190, 190, 27);">ELECT-BTP</strong> toujours!!</p>
    <!-- ======= About Section ======= -->
    <section style="margin-top: -2px;" class="breadcrumbs">
    <section id="about" class="about section">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3 style="color: rgb(248, 248, 238);">Pourquoi choisir ELECT-BTP?</h3>
              <p>
               Disposant d'une équipe performante et polyvalente pouvant accomplir toutes natures de défis techniques
               nous appuyons nos clients du début a la fin de leur projet en leur assurant la satisfaction finale
              </p>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-check-double"></i>
                  <h4>Efficacité</h4>
                  <p>texte</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-check-shield"></i>
                  <h4>Assurance</h4>
                  <p>texte</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-hourglass"></i>
                  <h4>Disponibilité</h4>
                  <p>texte</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-like"></i>
                  <h4>Confiance</h4>
                  <p>texte</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section>
  </section><!-- End About Section -->

    <section id="clients" class="clients">

      <h1 style="text-align: center;">Quelques partenaires</h1>

      <div class="container-fluid" data-aos="zoom-in">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="owl-item">
              <img src="assets/img/clients/sonabel.png" alt="">
              <img src="assets/img/clients/essakane.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Clients Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg ">
          <div class="container" data-aos="fade-up">

            <div class="section-title">
              <h2 style="color: rgb(224, 33, 33);">Nos domaines d'expertises</h2>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="icofont-computer"></i>
                  <h4><a href="#">Energie</a></h4>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="icofont-chart-bar-graph"></i>
                  <h4><a href="#">Genie Civil</a></h4>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="icofont-image"></i>
                  <h4><a href="#">Maintenance industrielle</a></h4>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="icofont-settings"></i>
                  <h4><a href="#">Bureau d'etude</a></h4>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="icofont-settings"></i>
                  <h4><a href="#">Vente et fourniture de matériéls</a></h4>
                </div>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="icofont-settings"></i>
                  <h4><a href="#">Depannage</a></h4>
                </div>
              </div>
            </div>

          </div>
        </section><!-- End Services Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">232</span>
              <p>Clients heureux</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">521</span>
              <p>Projets</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">1,463</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">15</span>
              <p>Hard Workers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    </main>
